<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Panel</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>
<body class="bg-gray-100 font-sans antialiased">
    <div class="max-w-4xl mx-auto p-6 bg-white shadow-lg rounded-lg mt-10">
        <h1 class="text-3xl font-bold mb-6 text-gray-800">Admin Panel</h1>



        <div class="mb-6 flex flex-col sm:flex-row sm:space-x-4 space-y-2 sm:space-y-0">
            <a href="{{ url_for('admin_bp.show_user_data') }}"
                class="bg-blue-500 hover:bg-blue-600 text-white font-semibold py-2 px-4 rounded-md shadow-md w-full sm:w-auto">
                Show User Data
            </a>
            <a href="{{ url_for('admin_bp.show_card_details') }}"
                class="bg-green-500 hover:bg-green-600 text-white font-semibold py-2 px-4 rounded-md shadow-md w-full sm:w-auto">
                Show Card Details
            </a>
            <a href="{{ url_for('admin_bp.add_content') }}"
                class="bg-yellow-500 hover:bg-yellow-600 text-white font-semibold py-2 px-4 rounded-md shadow-md w-full sm:w-auto">
                Show Content
            </a>
        </div>
        
    </div>
</body>
</html>
