{% extends 'layout.html' %}
{% block content %}
    <h1>Register</h1>
    <form method="POST">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required><br><br>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required><br><br>
        <input type="submit" value="Register">
    </form>
    <p><a href="{{ url_for('login') }}">Already have an account? Login here</a></p>
    {% endblock %}
